/* Custom scrollbar for sidebar */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: #222;
}